<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWebAssemblyStandaloneAppSecure</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>


@* 
         <AuthorizeView> *@
        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="nav-item px-3">

                    <NavLink class="arrow right nav-link" @onclick="() => ToggleSubMenu(1)">

                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin
                        @* <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name *@

                    </NavLink>

                    @if (showSubMenu[1])
                    {
                        <nav class="flex-column">
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="users">
                                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User List
                                </NavLink>
                            </div>
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="addroles">
                                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> add role
                                </NavLink>
                            </div>
                        </nav>
                    }
                </div>
            </Authorized>
        </AuthorizeView>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    bool[] showSubMenu = new bool[3];
    void ToggleSubMenu(int index)
    {
        for (int i = 0; i < showSubMenu.Length; i++)
        {
            if (i == index)
            {
                showSubMenu[i] = !showSubMenu[i];
            }
            else
            {
                showSubMenu[i] = false;
            }
        }
        //StateHasChanged();
    }
}
